{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock title %}
{% block content %}



        
        
        
        
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	            
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                
                
                	
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-medium -->
                	<div class="layout-medium">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutMediumContent" -->
                	
                    
                        <!-- .hentry -->
                        <article class="hentry page">
                        
                        	
                            <!-- .entry-header -->   
                            <header class="entry-header">
                                <h1 class="entry-title">About Me</h1>
                            </header>
                            <!-- .entry-header -->   
                            
                            
                            <!-- .entry-content -->
                            <div class="entry-content">
                            	
                                <p>
                                	<img src="{% static 'photo/IMG_2148 - Copy.JPG' %}" alt="profile photo">
                                </p>
                                
                                <h2 class="section-title center">WHO IS THIS GUY?</h2>
                                
                                <p>Mahmudov Samandar, 16 years old, male. He attends school and is studying for the Quality Education Badge</p>
                                
                
                    
                
                		<!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-medium -->
                    
                    
                
                
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary -->    
        
        
        
        
        </div>
        <!-- site-main -->
        {% endblock content %}