{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}



        <!-- site-main -->
        <div id="main" class="site-main">
        
        

            
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                
				
				
					<!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    
                    
                    <!-- post-slider -->
                    <!--<div class="post-slider owl-carousel" data-items="3" data-loop="false" data-center="false" data-mouse-drag="true" data-nav="false" data-dots="false" data-autoplay="true" data-autoplay-speed="600" data-autoplay-timeout="2000">-->
                    <div class="post-slider owl-carousel" data-items="3" data-loop="true" data-dots="false" data-nav="true" data-nav-prev-text="prev" data-nav-next-text="next">
                     
                        <!-- post -->
                        {% for blogs in blogs %}
                    	<div class="post-thumbnail" style="background-image:url({{blogs.image.url}})">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="{% url 'blog-page' %}" rel="category tag">{{ blogs.title }}</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        {% endfor %}
                        <!-- post -->    
                        
                       
                        <!-- post -->  
                        
                        <!-- post -->
                    	
                            
                    </div>
                    <!-- post-slider -->
                    
                    
                    
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-fixed -->
                	<div class="layout-fixed">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFixedContent" -->
                
                	
                        <!-- blog-regular -->
                        <div class="blog-regular">
                    	
                        
                        	
                            <!-- .hentry -->
                            <article class="hentry post">
                                {% for blogs in blogs %}
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="{% url 'blog-page'%}">{{blogs.title}}</a></h1>
                                    <!-- .entry-meta -->
                                   
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="{% url 'blog-page'%}">
                                    	<img src="{{blogs.image.url}}" alt="blog-image">
                                    </a>
                                </div>
                                <!-- .featured-image -->
                                
                                <!-- .entry-content -->
                                <div class="entry-content">                            
                                <p>{{blogs.description| safe | truncatewords:20}}</p> 
                                        <span class="more">
                                            <a href="{% url 'blog-page' %}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- .entry-content -->
                                 {% endfor %}
                            </article>
                            <!-- .hentry -->
                            
                            
                          
                            
        
                            <!-- .hentry -->
                            
                            
                            
                            <!-- .hentry -->
                           
                          
                            
                            
                        </div>
                        <!-- blog-regular -->
                    
                    
                
                		<!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-fixed -->
                
                
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary -->    
        
        
        
        
        </div>
        <!-- site-main -->
        
        
        {% endblock content %}